VITE_API_URL=https://alttill.ddns.net
VITE_DEV_API_URL=http://localhost:5276
VITE_PERSONAL_WITHDRAWAL_LIMIT=500000
VITE_INDIVIDUAL_CURRENT_WITHDRAWAL_LIMIT=500000
VITE_CORPORATE_CURRENT_WITHDRAWAL_LIMIT=3000000
VITE_TRANSACTION_LIMIT=10000000
PORT=3000
VITE_SECRETKEY=Swe4g7c?UBm5Nrd96vhsVDtkyJFbqKMTm!TMw5BDRLtaCFAXNvbq?s4rGKQSZnUP
VITE_ENCRYPTION_IV=
VITE_ENCRYPTION_PASSPHRASE=
VITE_ENCRYPTION_SALT=
VITE_ENCRYPTION_ITERATIONS=
VITE_ENCRYPTION_KEY_SIZE=